.daisy-form {
    width: 100%;
}

.daisy-form .t-tree .t-tree__icon {
    line-height: inherit;
}

.daisy-form.t-form:not(.t-form-inline) .t-form__item:last-of-type {
    margin-bottom: 24px;
}

.daisy-form .daisy-form .t-is-error .t-input__extra {
    color: var(--td-error-color);
}

.daisy-form .daisy-form .t-is-warning .t-input__extra {
    color: var(--td-warning-color);
}
